{
  'config': {
    'github-protocols':    {{ composer_github_protocols }},
    'process-timeout':     {{ composer_process_timeout }},
    'vendor-dir':          '{{ composer_vendor_dir }}',
    'optimize-autoloader': {{ composer_optimize_autoloader }},
    'discard-changes':     {{ composer_discard_changes }}
  }
}
